/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

:root {
    --fontregular: 400;
    --font700: 700;
    --colorblack: #000;
    --colorblue: #00BAFC;
    --colorwhite: #fff;
}

/* open-sans-regular - latin_cyrillic */
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/open-sans-v29-latin_cyrillic-regular.woff2") format("woff2"),
        url("../fonts/open-sans-v29-latin_cyrillic-regular.woff") format("woff");
}

/* open-sans-700 - latin_cyrillic */
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/open-sans-v29-latin_cyrillic-700.woff2") format("woff2"),
        url("../fonts/open-sans-v29-latin_cyrillic-700.woff") format("woff");
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
}

.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

header {
    background: var(--colorwhite);
    -webkit-box-shadow: 0px 4px 20px #0000001a;
            box-shadow: 0px 4px 20px #0000001a;
}

.site-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.site-logo:hover {
    opacity: 0.8;
}

.site-logo:active {
    opacity: 0.4;
}

.site-logo-img {
    display: block;
}

.site-navbar {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.navbar-list {
    margin: 0 8px 0 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navbar-list-item {
    padding: 16px;
    list-style: none;
    border-bottom: 3px solid transparent;
}

.navbar-link {
    font-weight: var(--fontregular);
    font-size: 15px;
    line-height: 24px;
    color: var(--colorblack);
    text-decoration: none;
  
}

.navbar-list-item:hover {
    border-bottom: 3px solid #191919;
}

.navbar-list-item:active {
    color: var(--colorwhite);
    border-bottom: 3px solid transparent;
    background: #191919b3;
}
.navbar-list-item:active .navbar-link {
 color: var(--colorwhite);
}

.section-buttons {
    padding: 8px 16px;
    font-weight: var(--font700);
    font-size: 15px;
    line-height: 24px;
    color: var(--colorwhite);
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--colorblue);
    border: 3px solid transparent;
}

.section-buttons:hover {
    color: var(--colorblue);
    border: 3px solid var(--colorblue);
    border-radius: 5px;
    background-color: var(--colorwhite);
    
}

.section-buttons:active {
    color: var(--colorwhite);
    background: #00bafc99;
    border: 3px solid transparent;
}

/*! hero section styles */
section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hero-info {
    width: 470px;
}

.hero-theme {
    margin: 0;
    margin-bottom: 16px;
    font-weight: var(--font700);
    font-size: 30px;
    line-height: 130%;
    color: var(--colorblack);
}

.hero-text-box {
    margin-bottom: 20px;
    width: 465px;
}

.hero-text {
    margin: 0;
   
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 24px;
    color: var(--colorblack);
}

.hero-link:hover {
    border: 3px solid transparent;
    color: var(--colorwhite);
    background: #00bafccc;
}
.hero-link:active{
    background: #00bafc99;
}

.hero-video {
    width: 458px;
    height: 258px;
    border: none;
}

/*! hero section styles finish */

/*! services stules start */
.services {
    padding-top: 56px;
    padding-bottom: 56px;
}

.services-top {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
    width: 719px;
    text-align: center;
}

.services-top-theme {
    margin: 0;
    margin-bottom: 16px;
    font-weight: var(--font700);
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: var(--colorblack);
}

.services-top-text {
    margin: 0;
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--colorblack);
}

.services-list {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

}

.services-list-item {
    margin-right: 70px;
    margin-bottom: 48px;
    padding: 24px 59px;
    list-style: none;
    background: var(--colorwhite);
    -webkit-box-shadow: 0px 8px 8px #0000001a;
            box-shadow: 0px 8px 8px #0000001a;
    border-radius: 5px;
}
.services-list-item:hover{
    -webkit-box-shadow: 0px 12px 21px #0000001a;
            box-shadow: 0px 12px 21px #0000001a;
}
.services-list-item:active{
    -webkit-box-shadow: 0px 4px 4px #00000033;
            box-shadow: 0px 4px 4px #00000033;
}

.services-list-item:nth-child(2) {
    margin-right: 67px;
}

.services-list-item:nth-child(3) {
    margin-right: 0;
}

.services-list-item:nth-child(5) {
    margin-right: 0;
}

.services-list-item:nth-child(4) {
    margin-bottom: 0;
}

.services-list-item:nth-child(5) {
    margin-bottom: 0;
}

.services-info {
    text-align: center;
}

.services-item-theme {
    margin: 0;
    margin-bottom: 16px;
    font-weight: var(--font700);
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: var(--colorblack);
}

.services-item-text {
    margin: 0;
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--colorblack);
}

.services-item-link {
    text-decoration: none;
}

.services-item-link::before {
    margin-bottom: 16px;
    display: block;
    content: "";
    background-image: url(../images/vebsayt-tuzish.svg);
    background-repeat: no-repeat;
    width: 203px;
    height: 130px;
}

.telegram-bot::before {
    background-image: url(../images/telegram-bot.svg);
}

.smm-img::before {
    background-image: url(../images/smm.svg);
}

.grafic-design::before {
    background-image: url(../images/grafic-design.svg);
}

.crm-img::before {
    background-image: url(../images/crm.svg);
}

.services-under-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.services-under-link-item {
    margin-left: 16px;
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: var(--colorblue);
}

/*! services stules finish */

/*! how we work styles start */
.how-we-work-top {
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 719px;

}

.how-we-work-list {
    margin: 0;
    padding: 0;
}

.how-we-work-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 48px;
    list-style: none;
}

.how-we-work-list-item::before {
    margin-right: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: "";
    background-image: url(../images/how-we-work1.svg);
    background-repeat: no-repeat;
    width: 300px;
    height: 278px;
}

.how-we-work-list-item:nth-child(2)::before {
    margin-right: 0;
    margin-left: 32px;
    content: "";
    background-image: url(../images/how-we-work2.svg);
}

.how-we-work-list-item:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

.how-we-work-list-item:nth-child(3)::before {
    content: "";
    background-image: url(../images/how-we-work3.svg);
}

.how-we-work-list-item:nth-child(4)::before {
    margin-right: 0;
    margin-left: 32px;
    content: "";
    background-image: url(../images/how-we-work4.svg);
}

.how-we-work-list-item:nth-child(4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

.how-we-work-list-item:nth-child(5)::before {
    content: "";
    background-image: url(../images/how-we-work5.svg);
}

.how-we-info {
    width: 493px;
}




.how-we-info-theme {
    margin: 0;
    margin-bottom: 8px;
    font-weight: var(--font700);
    font-size: 20px;
    line-height: 130%;
    color: var(--colorblack);
}

.how-we-info-text {
    margin: 0;
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 24px;
    color: var(--colorblack);
}


.how-we-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/*! how we work styles finish */
.order-top {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
    width: 719px;
    text-align: center;
}

/*! order style start */
.order {
    background-color: var(--colorblue);
}

.order-top-theme {
    font-weight: var(--font700);
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: var(--colorwhite);
}

.order-top-text {
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--colorwhite);
}

.order-form {
    width: 348px;
    margin-right: auto;
    margin-left: auto;
    padding: 24px;
    background-color: var(--colorwhite);
    border-radius: 5px;
}

.site-order-item {
    margin-bottom: 16px;
    padding: 16px;
    display: block;
    width: 100%;
    background: #F3F3F3;
    border-radius: 5px;
    border: none;
}

.site-order-item::-webkit-input-placeholder {
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 150%;
    color: var(--colorblack);
}

.site-order-item::-moz-placeholder {
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 150%;
    color: var(--colorblack);
}

.site-order-item:-ms-input-placeholder {
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 150%;
    color: var(--colorblack);
}

.site-order-item::-ms-input-placeholder {
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 150%;
    color: var(--colorblack);
}

.site-order-item::placeholder {
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 150%;
    color: var(--colorblack);
}

.order-list {
    margin-bottom: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 14px;
    width: 100%;
    background: #F3F3F3;
    border-radius: 5px;
    border: none;
}

.order-list>option {
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 150%;
    color: var(--colorblack);
}

.order-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

/*! order style finish */

/* footer start */
footer {
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: var(--colorblack);
}
.footer-inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-inner-start {
    margin-right: 100px;
    width: 320px;
}

.footer-theme {
    margin: 0;
    margin-bottom: 16px;
    font-weight: var(--font700);
    font-size: 20px;
    line-height: 130%;
    color: var(--colorwhite);
}

.footer-text {
    margin: 0;
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 150%;
    color: var(--colorwhite);
}

.pages-item-theme {
    margin: 0;
    font-weight: var(--font700);
    font-size: 20px;
    line-height: 130%;
    color: var(--colorwhite);
}

.site-pages-box{
    margin-right: 87px;
}
.site-pages-list {
    margin: 0;
    padding: 0;
}

.site-pages-list-item {
    margin-bottom: 8px;
    list-style: none;
}

.site-pages-list-item:nth-child(6) {
    margin-bottom: 0;
}

.footer-links {
    text-decoration: none;
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 24px;
    color: var(--colorwhite);
}
.footer-links:hover{
    color: var(--colorblue);
}
.footer-links:active{
    opacity: 0.6;
    color: var(--colorblue);
}
.pages-item-theme{
    margin: 0;
    margin-bottom: 16px;
}

.socials-list {
    margin: 0;
    padding: 0;
}

.socials-list-item {
    margin: 0;
    margin-bottom: 8px;
    list-style: none;
}

.socials-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 24px;
    color: var(--colorwhite);
    text-decoration: none;
}

.telegram::before{
    margin-right: 8px;
    margin-bottom: 9px;
    display: inline-block;
    content: "";
    background-image: url(../images/telegram.svg);
    width: 22px;
    height: 23px;
}
.facebook::before{
    margin-right: 8px;
    margin-bottom: 9px;
    display: inline-block;
    content: "";
    background-image: url(../images/facebook.svg);
    width: 22px;
    height: 23px;
}
.instagram::before{
    margin-right: 8px;
    margin-bottom: 9px;
    display: inline-block;
    content: "";
    background-image: url(../images/instagram.svg);
    width: 22px;
    height: 23px;
}
.socials-links:hover{
    color: var(--colorblue);
}
.socials-links:active{
    opacity: 0.6;
    color: var(--colorblue);
}
/* footer finish */