:root {
    --fontregular: 400;
    --font700: 700;
    --colorblack: #000;
    --colorblue: #00BAFC;
    --colorwhite: #fff;
}

/* open-sans-regular - latin_cyrillic */
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/open-sans-v29-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/open-sans-v29-latin_cyrillic-regular.woff") format("woff");
}

/* open-sans-700 - latin_cyrillic */
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/open-sans-v29-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/open-sans-v29-latin_cyrillic-700.woff") format("woff");
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
}

.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}
header {
    width: 100%;
    position: fixed;
    background: var(--colorwhite);
    -webkit-box-shadow: 0px 4px 20px #0000001a;
    box-shadow: 0px 4px 20px #0000001a;
}

.site-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.site-logo:hover {
    opacity: 0.8;
}

.site-logo:active {
    opacity: 0.4;
}

.site-logo-img {
    display: block;
}

.site-navbar {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-list {
    margin: 0 8px 0 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navbar-list-item {
    padding: 16px;
    list-style: none;
    border-bottom: 3px solid transparent;
}

.navbar-link {
    font-weight: var(--fontregular);
    font-size: 15px;
    line-height: 24px;
    color: var(--colorblack);
    text-decoration: none;
    
}
.navbar-link-services{
    border-bottom: 3px solid #191919;
}
.navbar-list-item:hover {
    border-bottom: 3px solid #191919;
}

.navbar-list-item:active {
    color: var(--colorwhite);
    border-bottom: 3px solid transparent;
    background: #191919b3;
}
.navbar-list-item:active .navbar-link {
    color: var(--colorwhite);
}

.section-buttons {
    display: inline-block;
    padding: 8px 16px;
    font-weight: var(--font700);
    font-size: 15px;
    line-height: 24px;
    color: var(--colorwhite);
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--colorblue);
    border: 3px solid transparent;
}
.section-buttons:hover {
    color: var(--colorblue);
    border: 3px solid var(--colorblue);
    border-radius: 5px;
    background-color: var(--colorwhite);
    
}

.section-buttons:active {
    color: var(--colorwhite);
    background: #00bafc99;
    border: 3px solid transparent;
}

.services-section{
    padding-top: 160px;
    padding-bottom: 80px;
}
.services-box{
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    text-align: center;
}
.services-theme{
    margin: 0;
    margin-bottom: 16px;
    font-weight: var(--font700);
    font-size: 40px;
    line-height: 130%;
    color: var(--colorblack);
}
.services-info-text{
    margin: 0;
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 24px;
    color: var(--colorblack);
}

.services-list-section{
    padding: 80px 0px;
    background-color: #F4F4F4;
}

.services-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.services-list-item{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    width: 804px;
    margin-bottom: 64px;
    padding: 32px 32px;
    background-color: var(--colorwhite);
    box-shadow: 0px 10px 16px #0000001f;
    border-radius: 5px;
}
.services-list-item::before{
    content: "";
    background-image: url(../images/vebsayt-tuzish.svg);
    display: inline-block;
    width: 200px;
    height: 128px;
    margin-right: 40px;
    background-repeat: no-repeat;
    background-size: contain;
}
.services-telegram-list::before{
    background-image: url(../images/telegram-bot.svg);
}
.services-smm-list::before{
    background-image: url(../images/smm.svg);
}
.services-grapihic-list::before{
    background-image: url(../images/grafic-design.svg);
}
.services-crm-list::before{
    background-image: url(../images/crm.svg);
}
.services-item-theme{
    margin: 0;
    font-weight: var(--font700);
    font-size: 20px;
    line-height: 130%;
    color: var(--colorblack);
}
.services-item-text{
    margin-bottom: 16px;
}

.services-second-list{
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    list-style: none;
}
.services-second-list-item{
    margin-bottom: 8px;
}
.services-second-list-item:last-child{
    margin-bottom: 0;
}
.services-second-list-item::before{
    content: "";
    width: 12px;
    height: 12px;
    background-color: #00BAFC;
    border: none;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}
.services-under-link-item{
    margin-left: 16px;
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: var(--colorblue);
}


.order-top {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
    width: 719px;
    text-align: center;
}

/*! order style start */
.order {
    padding-top: 8px;
    padding-bottom: 56px;
    background-color: var(--colorblue);
}

.order-top-theme {
    font-weight: var(--font700);
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: var(--colorwhite);
}

.order-top-text {
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--colorwhite);
}

.order-form {
    width: 348px;
    margin-right: auto;
    margin-left: auto;
    padding: 24px;
    background-color: var(--colorwhite);
    border-radius: 5px;
}

.site-order-item {
    margin-bottom: 16px;
    padding: 16px;
    display: block;
    width: 100%;
    background: #F3F3F3;
    border-radius: 5px;
    border: none;
}

.site-order-item::-webkit-input-placeholder {
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 150%;
    color: var(--colorblack);
}

.site-order-item::-moz-placeholder {
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 150%;
    color: var(--colorblack);
}

.site-order-item:-ms-input-placeholder {
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 150%;
    color: var(--colorblack);
}

.site-order-item::-ms-input-placeholder {
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 150%;
    color: var(--colorblack);
}

.site-order-item::placeholder {
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 150%;
    color: var(--colorblack);
}

.order-list {
    margin-bottom: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 14px;
    width: 100%;
    background: #F3F3F3;
    border-radius: 5px;
    border: none;
    appearance: none;
    background-image: url(../images/services-form-back.svg);
    background-repeat: no-repeat;
    /* background-size: 15px; */
    background-position: top -5px right 0;
    
}

.order-list>option {
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 150%;
    color: var(--colorblack);
}

.order-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

footer {
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: var(--colorblack);
}
.footer-inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-inner-start {
    margin-right: 100px;
    width: 320px;
}

.footer-theme {
    margin: 0;
    margin-bottom: 16px;
    font-weight: var(--font700);
    font-size: 20px;
    line-height: 130%;
    color: var(--colorwhite);
}

.footer-text {
    margin: 0;
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 150%;
    color: var(--colorwhite);
}

.pages-item-theme {
    margin: 0;
    font-weight: var(--font700);
    font-size: 20px;
    line-height: 130%;
    color: var(--colorwhite);
}

.site-pages-box{
    margin-right: 87px;
}
.site-pages-list {
    margin: 0;
    padding: 0;
}

.site-pages-list-item {
    margin-bottom: 8px;
    list-style: none;
}

.site-pages-list-item:nth-child(6) {
    margin-bottom: 0;
}

.footer-links {
    text-decoration: none;
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 24px;
    color: var(--colorwhite);
}
.footer-links:hover{
    color: var(--colorblue);
}
.footer-links:active{
    opacity: 0.6;
    color: var(--colorblue);
}
.pages-item-theme{
    margin: 0;
    margin-bottom: 16px;
}

.socials-list {
    margin: 0;
    padding: 0;
}

.socials-list-item {
    margin: 0;
    margin-bottom: 8px;
    list-style: none;
}

.socials-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: var(--fontregular);
    font-size: 16px;
    line-height: 24px;
    color: var(--colorwhite);
    text-decoration: none;
}

.telegram::before{
    margin-right: 8px;
    margin-bottom: 9px;
    display: inline-block;
    content: "";
    background-image: url(../images/telegram.svg);
    width: 22px;
    height: 23px;
}
.facebook::before{
    margin-right: 8px;
    margin-bottom: 9px;
    display: inline-block;
    content: "";
    background-image: url(../images/facebook.svg);
    width: 22px;
    height: 23px;
}
.instagram::before{
    margin-right: 8px;
    margin-bottom: 9px;
    display: inline-block;
    content: "";
    background-image: url(../images/instagram.svg);
    width: 22px;
    height: 23px;
}
.socials-links:hover{
    color: var(--colorblue);
}
.socials-links:active{
    opacity: 0.6;
    color: var(--colorblue);
}